@model StudentsSystem.Web.ViewModels.Homework.CreateInputModel;
@{
    ViewData["Title"] = "Create";
}

@section Header{
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
}

<h1>Create</h1>

<form method="post" asp-controller="Homework" asp-action="Create" asp-route-courseId="@Model.CourseId">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EndDate"></label>
        <input type="datetime" asp-for="EndDate" class="form-control" id="datepicker">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <hr class="bg-success mt-5" style="height: 2px" />
    <div class="d-flex justify-content-around mt-4">
        <button type="submit" class="btn bg-success text-white" href="/Homework/Create?courseId=@Model.CourseId">Create</button>
        <a href="/Course/Details?id=@Model.CourseId" class="btn bg-success text-white">Back To Courses</a>
    </div>
</form>


@section Scripts{
    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js"></script>
    <script src="~/js/datepicker-init.js"></script>
}
