
@{
    ViewData["Title"] = "Old Homeworks";
}

<h1>Old Courses</h1>

<main>
    <hr class="bg-success" style="height: 2px" />
    <div id="albums">
        @foreach (var homework in Model.Homeworks)
        {
            <div class="row">
                <h3 class="col-5">
                    <a href="/Homework/OldHomeworksDetails?id=@homework.Id">@homework.Name</a>
                </h3>
            </div>
        }
    </div>
</main>