
@{
    ViewData["Title"] = "OldHomeworksDetails";
}

<h1>OldHomeworksDetails</h1>

<hr />
<div class="blog margin-bottom-40 d-flex justify-content-between">
    <div class="course-data justify-content-center col-md-7">
        <div class="card-header">Homework Name: @Model.Name</div>
        <div class="card-header">Homework Date: @Model.EndDate</div>
        <div class="card-header">Homework Description: @Model.Description</div>
        <div class="d-flex justify-content-between">
            <a class="nav-link bg-success text-white" asp-area="" asp-controller="Homework" asp-action="Old" asp-route-homeworkId="@Model.Id">Back To All</a>
        </div>
    </div>
</div>