@using StudentsSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h2 margintodetails>
        Hello, everybody!
        Let's start to help you do not forgot your exams, events, courses and homeworks!
        Make a registration and enjoy to my website!
    </h2>
</div>
