
@model StudentsSystem.Web.ViewModels.Course.CreateInputModel
@{
    this.ViewData["Title"] = "Create course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
}

<h1>@this.ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="StartOn"></label>
        <input type="text" asp-for="StartOn" class="form-control" id="datepicker">
        <span asp-validation-for="StartOn" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="EndOn"></label>
        <input type="text" asp-for="EndOn" class="datepicker form-control" id="second">
        <span asp-validation-for="EndOn" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control">
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <hr class="bg-success mt-5" style="height: 2px" />
    <div class="d-flex justify-content-around mt-4">
        <button type="submit" class="btn bg-success text-white">Create</button>
        <a href="/Course/All" class="btn bg-success text-white">Back To Courses</a>
    </div>
</form>


@section Scripts{
    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js"></script>
    <script src="~/js/datepicker-init.js"></script>
}


